/backend/HELP.md
/backend/target/
/backend/build/
/backend/**/src/main/**/target/
/backend/**/src/test/**/target/
/backend/**/src/main/**/build/
/backend/**/src/test/**/build/
/backend/.mvn/wrapper/maven-wrapper.jar
/backend/.apt_generated
/backend/.classpath
/backend/.factorypath
/backend/.project
/backend/.settings
/backend/.springBeans
/backend/.sts4-cache
/backend/.idea
/backend/*.iws
/backend/*.iml
/backend/*.ipr
/backend/nbproject/private/
/backend/nbbuild/
/backend/dist/
/backend/nbdist/
/backend/.nb-gradle/
/backend/.vscode/
