fastapi
uvicorn[standard]
pydantic
python-dotenv
pydantic-settings
minio
numpy<2.0
Pillow==10.0.1
opencv-python-headless<4.9.0
imageio[ffmpeg]==2.31.6
ultralytics<8.1.0
torch==2.1.1
torchvision==0.16.1
av
